<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.liuwenrong.navigationbarview" android:versionCode="1"
	android:versionName="1.0">
<!-- 	android:sharedUserId="android.uid.system" -->

	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DEVICE_POWER" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />

	<application android:allowBackup="true" android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" android:theme="@style/AppTheme"
		android:windowSoftInputMode="adjustPan">
		<activity android:name=".MainActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity 
		android:name="com.android.systemui.statusbar.phone.ShowNavigationHideInfoActivity"
		>
		
		</activity>
		
		<activity
		android:name=".NotificationActivity" android:label="@string/app_name">
		
		</activity>

		<!-- 监听锁屏解锁时的广播 -->
		<receiver android:name=".ActionReceiver">
			   
			       
			<intent-filter android:priority="1000">
				   
				           
				<action android:name="android.intent.action.USER_PRESENT" />

				       
			</intent-filter>
			   
			   
		</receiver>
		<!-- 监听系统通知 -->
		<service
		android:name=".MyNotificationListenerService"
		android:label="获取系统通知的权限"
		android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
		<intent-filter>
		<action android:name="android.service.notification.NotificationListenerService"></action>
		</intent-filter>
		</service>
		
	</application>

</manifest>
